{% extends "base.html" %}
{% block title %}User Page{% endblock %}

{% block content %}
<script>setInterval(function() {
$("#reloadContent").load(location.href+" #reloadContent>*","");
}, 200000);</script>
<div id = "reloadContent" style="height:300px;width:300px;overflow:auto;background-color:yellowgreen;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;display: flex;flex-direction: column-reverse;">
    <meta http-equiv="refresh" content="10">
{% for chat in chats: %}
    <br>{% print chat %}<br>
{% endfor %}
</div>


<form action="#" method="post">
    <p>Enter Chat:</p>
    <p><input type="text" name="chat" /></p>
    <p><input type="submit" value="submit"></p>

</form>

{% endblock %}